.cell {
    height: 50px;
    width: 50px;
    background-color: orange;
    border-width: 1px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: gray;
    border-style: solid;
    cursor: pointer;
}
.cell2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell.active {
    background-color: red;
    color: white;
}
    